div.form-reg-beauty{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#registerBtn,#loginBtn {
    display: inline-block;
    width: 150px;
}